{% extends "base.html" %}

{% block content %}
<h1>🚴 新增騎乘紀錄</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.date.label }}
        <br>
        {{ form.date() }}
    </p>
    
    <div class="mb-3">
        {{ form.ride_type.label(class="form-label") }}
        {{ form.ride_type(class="form-select") }}
    </div>

    <p>
        {{ form.distance.label }}
        <br>
        {{ form.distance() }}
    </p>

    <p>
        {{ form.duration.label }}
        <br>
        {{ form.duration() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>
{% endblock %}