{% extends "base.html" %}

{% block content %}

<h1 class="fw-bold mb-4">
    🚴 歡迎回來，{{ user.username }}
</h1>

<div class="row mt-3">

    <div class="col-md-3">

        <div class="card card shadow text-center p-3 border-0 h-100">

            <h5 class="text-muted">
                FTP
            </h5>

            <h1 class="display-5 fw-bold">
                {{ user.ftp }}
            </h1>

            <p class="text-muted">
                Watts
            </p>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow  text-center p-3 border-0 h-100">

            <h5 class="text-muted">
                體重
            </h5>

            <h1 class="display-5 fw-bold">
                {{ user.weight }}
            </h1>

            <p class="text-muted">
                kg
            </p>


        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-0 text-center border-0 p-3 h-100">

            <h5 class="text-muted">
                W/kg
            </h5>

            <h1 class="display-5 fw-bold">
                {{ wkg }}
            </h1>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-0 text-center border-0 p-3 h-100">

            <h5 class="text-muted">
                等級
            </h5>

            <h3 class="fw-bold text-success">
                {{ rider_level }}
            </h3>
        </div>

    </div>

    <div class="card shadow-sm border-0 p-3 mt-3">

        <h4>🔥 連續騎乘天數</h4>

        <h2>
            {{ streak }} 天
        </h2>

    </div>


</div>
<div class="row mt-4">
    <div class="col-md-6">

        <div class="card p-3 h-100">


        <h4>訓練統計</h4>

        <p>平均速度：{{ avg_speed }} km/h</p>

        <p>最長單次距離：{{ longest_ride }} km</p>

        <p>總騎乘次數：{{ total_rides }}</p>

        <p>總距離：{{ total_distance }} km</p>

        <p>總時間：{{ total_duration }} hr</p>

    </div>

</div>

    <div class="col-md-6">

        <div class="card p-3 h-100">

            <h4>週/月統計</h4>

            <p>
                本週騎乘次數：
                {{ weekly_rides }}
            </p>

            <p>
                本週騎乘距離：
                {{ weekly_distance }} km
            </p>

            <hr>

            <p>
                本月騎乘次數：
                {{ monthly_rides }}
            </p>

            <p>
                本月騎乘距離：
                {{ monthly_distance }} km
            </p>

        </div>
    </div>
</div>



<div class="row mt-3">
    <div class="col-md-6">
        <div class="card p-3 mt-3 h-100">

            <h4>月里程目標</h4>

            <p>
                {{ monthly_distance }}
                /
                {{ monthly_goal }}
                km
            </p>

            <div
                class="progress"
                style="height:30px;"
            >

                <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    style="width: {{ goal_progress }}%;"
                >
                    {{ goal_progress }}%
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3 mt-3 h-100">

            <h4>最近7天訓練量</h4>

            <p>騎乘次數：{{ week_ride_count }}</p>

            <p>總距離：{{ week_distance }} km</p>

            <p>總時間：{{ week_duration }} hr</p>

        </div>
    </div>
</div>


<div class="card shadow-sm border-0 p-3 mt-5">

    <h4>🏅 我的成就</h4>

    {% if badges %}

        {% for badge in badges %}

            <span
                class="badge bg-warning text-dark me-2 mb-2"
            >
                {{ badge }}
            </span>

        {% endfor %}

    {% else %}

        <p>尚未獲得徽章</p>

    {% endif %}

</div>


<div class="row mt-3 g-3">
        <div class="col-md-6">
            <div class="card p-3 h-100">
                <h4>訓練建議</h4>

                <p>{{ advice }}</p>
            </div>
        </div>

    <div class="col-md-6">
        <div class="card p-3 h-100">

            <h4>FTP 功率區間</h4>

            <p>Z1 恢復區：< {{ z1 }} W</p>

            <p>Z2 耐力區：{{ z2_low }} ~ {{ z2_high }} W</p>

            <p>Z3 Tempo：{{ z3_low }} ~ {{ z3_high }} W</p>

            <p>Z4 閾值：{{ z4_low }} ~ {{ z4_high }} W</p>

            <p>Z5 VO2Max：{{ z5_low }} ~ {{ z5_high }} W</p>
         </div>
    </div>
</div>

<a href="/ride/add" class="btn btn-primary mt-3">
    新增騎乘紀錄
</a>

<a href="/rides" class="btn btn-success mt-3">
    查看騎乘紀錄
</a>

<hr class="mt-4">

<h2>騎乘距離趨勢</h2>

<canvas id="distanceChart"></canvas>

<script>

const rideDates = {{ ride_dates | tojson }};
const rideDistances = {{ ride_distances | tojson }};

const ctx = document.getElementById('distanceChart');



new Chart(ctx, {
    type: 'bar',
    data: {
        labels: rideDates,
        datasets: [{
            label: '距離 (km)',
            data: rideDistances
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true
            }
        },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

<hr class="mt-4">

<h2>平均速度紀錄</h2>

<table class="table table-striped">

    <thead>

        <tr>
            <th>日期</th>
            <th>平均速度(km/h)</th>
        </tr>

    </thead>

    <tbody>

        {% for i in range(ride_dates|length) %}

        <tr>

            <td>{{ ride_dates[i] }}</td>

            <td>{{ avg_speeds[i] }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}